@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply underline underline-offset-2 hover:text-gray-500;
  }
  :root {
    --radius: 0.5rem;
  }
}

@layer utilities {
  .border {
    background-clip: padding-box;
  }
}

.transition-disabled {
  view-transition-name: disabled;
}

::view-transition-disabled(root) {
  animation: none;
}

::view-transition-old(root) {
  animation: none;
}

::view-transition-new(root) {
  animation: fade-in 0.2s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
