@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply underline underline-offset-2 hover:text-gray-500;
  }
  :root {
    --radius: 0.5rem;
  }
}

@layer utilities {
  .border {
    background-clip: padding-box;
  }
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: fade 0.5s;
}
